 * {
     margin: 0;
     padding: 0;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     background-image: url(https://i.redd.it/wallpaper-vol-1-route-77-the-haunted-highway-v0-21b0ptt9vb7e1.png?width=2560&format=png&auto=webp&s=8bc81d70bccd8c9f5ab8080545124701bbd55cb7);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }

 header {
     background-image: url(Haunted.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     width: 100vw;
     height: 100vh;
     border-radius: 0;
     margin-top: -9vh;
 }

 nav {
     position: sticky;
     top: 0;
     z-index: 100;
     padding: 2vh 0;
 }

 nav ul {
     list-style-type: none;
     display: flex;
     gap: 2%;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 nav ul li a {
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
     text-decoration: none;
     color: rgb(241, 241, 241);
     font-size: 110%;
     font-weight: bolder;
     padding: 8px 17px;
     -webkit-text-stroke: 0.2px black;
 }

 nav ul li a:hover {
     transform: scale(1.3);
     color: rgb(62, 32, 69);
 }

 .contain {
     margin-top: 0;
     opacity: 0;
 }

 .slider {
     width: 85%;
     margin-top: 0%;
     margin-left: 2%;
     margin-right: auto;
     position: relative;
     overflow: hidden;
     opacity: 0;
     transition: opacity 0.5s ease-out;
     border-radius: 5%;
 }

 .slider.fadein {
     opacity: 1;
     transition: opacity 1s ease-in
 }

 .slides {
     display: flex;
     transition: transform 0.6s ease-in-out;
 }

 .slide {
     width: 100%;
     height: 100%;
     flex-shrink: 0;
 }

 .buttons {
     position: absolute;
     top: 50%;
     width: 7%;
     transform: translateY(-50%);
     cursor: pointer;
     opacity: 0.7;
 }

 #prev {
     left: 2%;
     transform: translateY(-50%) rotate(180deg);
 }

 #next {
     left: 90%;
 }



 .sideslide {
     width: 85%;
     margin-top: 0%;
     margin-left: auto;
     margin-right: 3%;
     position: relative;
     overflow: hidden;
     opacity: 0;
     transition: opacity 0.5s ease-out;
     border-radius: 5%;
     cursor: pointer;
 }

 .sideslide:hover {
     transform: scale(1.06);
 }

 .sideslide.fadesin {
     opacity: 1;
     transition: opacity 1s ease-in
 }

 .sideslides {
     display: flex;
     transition: transform 0.6s ease-in-out;
 }

 .side {
     width: 100%;
     height: 100%;
     flex-shrink: 0;
 }

 .flexbox {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
     align-items: flex-start;
     width: 100%;
     margin-top: 5%;
     padding: 5% 0%;
     gap: 3%;
 }